body{
    background-color: #444444;
    background-image: url('/public/images/background.png');
    /*background-repeat: no-repeat repeat;*/
    /*background-size: cover;*/
    font-family: Cantarell;
}
.form{
    padding-top: 70px;
}
u{
    color: #ffffff;
}
label{
    color: #ffffff;
}
.date{
    color: #ffffff;
    font-size: 14px;
    float: right;
}
.username{
    color: #ffffff;
    font-size: 18px;
}
.text{
    color: #ffffff;
    margin-left: 10px;
}

.text:hover{
    color: #888;
}
input[type=checkbox]:checked + label.strikethrough .text{
    color: #666666;
}

input[type=checkbox]{
    left: 30px;
}

input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
}

.empty{
    color: #ffffff;
    padding-left: 40%;
    padding-top: 16%;
}
.blockItem{
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid #111111;
    border-radius: 5px;
    height:450px;
    overflow : scroll;
    overflow-x: hidden;
    width:750px;
    padding-top: 15px;
}

.blockItem ul{
    width: 90%;
    border-radius: 5px;
    border: 1px solid #000000;
    /*padding-bottom: 5px;*/
    background-color: #444444;
}

ul.hr {
    /*width: 80%;*/
    margin-left: auto;
    margin-right: auto;
    /*margin: 5px;*/
    padding: 4px;
    /*padding-bottom: -5px;*/
    cursor: pointer;
    display: flex;
}
ul.hr:hover{
  background-color: #333333;
}
/*input[type="checkbox"]:checked{*/
/*    visibility:hidden;*/
/*    text-decoration: line-through;*/
/*}*/
/*input[type="checkbox"][value="text"]:checked{*/
/*    visibility:hidden;*/
/*}*/

/*---------------------*/
ul.hr li {
    display: inline;
    margin-right: 5px;
    padding: 3px;
}
@media screen and (max-width: 600px) {
    .blockItem {
        height: 200px;
        width: 100%;
    }

    .empty {
        padding-left: 35%;
        padding-top: 20%;
        color: #ffffff;
    }

    .date{
        color: #ffffff;
        font-size: 39px;
    }


}
@media screen and (max-width: 900px) {
    .blockItem {
        height: 200px;
        width: 100%;
    }

    .empty {
        padding-left: 35%;
        padding-top: 20%;
        color: #ffffff;
    }

    .date{
        color: #ffffff;
        font-size: 14px;
    }
    .username{
        color: #ffffff;
        font-size: 18px;
    }
    .comment{
        color: #ffffff;
        margin-left: 10px;
    }

    form button{
        width: 100%;
    }
}
@media screen and (max-width: 1200px) {
    .blockItem {
        height: 200px;
        width: 100%;
    }

    .empty {
        padding-left: 35%;
        padding-top: 20%;
    }

}

@media screen and (max-width: 400px) {
    .empty {
        padding-left: 23%;
        padding-top: 30%;
    }

}