h1 {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

a {
    color: #343a40;
}

a:hover {
    color: #59646e;
}

.page-item a {
    color: #343a40;
}

.page-item a:hover {
    color: #59646e;
}

.largeBox {
    width: 90%;
    text-align: center;
}

.smallBox {
    width: 10%;
    text-align: center;
}

.largeBoxTask {
    width: 90%;
    text-align: left;
}

.arrow {
    color: #111111;
    font-size: 33px;
}

.table .largeBox {
    width: 84%;
}

.input-group-text {
    border-top-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 0px;
    height: 38px;
}

.spaces{
    margin: 0 25px 0 25px;
}