body{
    margin: 0;
    padding: 0;
}
h1{
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.table{
    text-align: center;
    font-size: 27px;
}

.table_body{
    font-size: 25px;
}

.table_body a{
    color: #111111;

}
.table_body a:hover{
    color: #444444;
    text-decoration: none;
}

.table_list{
    width: 60%;

}

.list{
    display: flex;
}
.list_item{
    height: 100px;
    width: 100px;
    background-color: #999999;
    text-align: center;
    color: #000;
    border: 1px solid #444444;
    border-radius: 5px;
    text-decoration: none;
}